.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.011230;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-9.141562px;}
._5{margin-left:-1.850936px;}
._0{width:1.151939px;}
._1{width:59.520000px;}
._2{width:61.600000px;}
._3{width:63.680000px;}
.fcc{color:rgb(0,0,0);}
.fcb{color:rgb(116,27,71);}
.fca{color:rgb(204,0,0);}
.fc1{color:rgb(74,134,232);}
.fc9{color:rgb(89,89,89);}
.fc2{color:rgb(255,153,0);}
.fc0{color:rgb(153,0,255);}
.fc5{color:rgb(152,0,0);}
.fc7{color:rgb(68,68,68);}
.fc4{color:rgb(102,102,102);}
.fc3{color:rgb(67,67,67);}
.fc8{color:rgb(153,0,0);}
.fc6{color:rgb(255,171,64);}
.fs6{font-size:72.000000px;}
.fs5{font-size:80.000000px;}
.fsb{font-size:84.000000px;}
.fs4{font-size:88.000000px;}
.fsa{font-size:92.000000px;}
.fs0{font-size:100.000000px;}
.fs7{font-size:104.000000px;}
.fs9{font-size:108.000000px;}
.fs8{font-size:112.000000px;}
.fs3{font-size:120.000000px;}
.fs2{font-size:136.000000px;}
.fs1{font-size:164.000000px;}
.y0{bottom:0.000000px;}
.y15{bottom:34.929916px;}
.ya{bottom:46.667709px;}
.y14{bottom:67.329910px;}
.y9{bottom:76.667709px;}
.y2a{bottom:81.395981px;}
.y24{bottom:93.005127px;}
.y13{bottom:101.095642px;}
.y8{bottom:106.667709px;}
.y29{bottom:107.795975px;}
.y1c{bottom:121.175797px;}
.y23{bottom:123.005127px;}
.y28{bottom:134.195969px;}
.y7{bottom:136.667709px;}
.y12{bottom:140.012772px;}
.y22{bottom:153.005127px;}
.y1b{bottom:158.435791px;}
.y6{bottom:167.805832px;}
.y11{bottom:176.012772px;}
.yd{bottom:182.620972px;}
.y21{bottom:183.005127px;}
.y27{bottom:186.995956px;}
.y1a{bottom:195.695801px;}
.y5{bottom:203.805832px;}
.y10{bottom:212.012787px;}
.y20{bottom:212.094635px;}
.y19{bottom:232.955803px;}
.yc{bottom:236.620964px;}
.y1f{bottom:238.887993px;}
.y26{bottom:239.795959px;}
.y4{bottom:239.805832px;}
.yf{bottom:248.012787px;}
.y18{bottom:270.215803px;}
.y1e{bottom:272.487995px;}
.y3{bottom:278.309685px;}
.ye{bottom:284.695652px;}
.y25{bottom:292.845917px;}
.y1{bottom:293.883476px;}
.y2{bottom:349.533079px;}
.y17{bottom:353.385632px;}
.y1d{bottom:358.247520px;}
.yb{bottom:359.219898px;}
.y16{bottom:359.385504px;}
.h6{height:52.417969px;}
.h5{height:58.242188px;}
.ha{height:61.154297px;}
.h4{height:64.066406px;}
.hc{height:69.437500px;}
.hb{height:72.593750px;}
.h1{height:72.802734px;}
.h7{height:75.714844px;}
.h8{height:81.539062px;}
.h9{height:85.218750px;}
.h3{height:87.363281px;}
.h2{height:119.396484px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x7{left:36.807098px;}
.xc{left:38.757874px;}
.x8{left:54.891724px;}
.x3{left:62.232300px;}
.x4{left:65.232300px;}
.x9{left:90.891724px;}
.xb{left:111.279541px;}
.x5{left:139.732300px;}
.x6{left:148.809067px;}
.xa{left:169.090546px;}
.xd{left:286.954231px;}
.x1{left:294.742561px;}
.x2{left:305.385807px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-12.188749pt;}
._5{margin-left:-2.467915pt;}
._0{width:1.535919pt;}
._1{width:79.360000pt;}
._2{width:82.133333pt;}
._3{width:84.906667pt;}
.fs6{font-size:96.000000pt;}
.fs5{font-size:106.666667pt;}
.fsb{font-size:112.000000pt;}
.fs4{font-size:117.333333pt;}
.fsa{font-size:122.666667pt;}
.fs0{font-size:133.333333pt;}
.fs7{font-size:138.666667pt;}
.fs9{font-size:144.000000pt;}
.fs8{font-size:149.333333pt;}
.fs3{font-size:160.000000pt;}
.fs2{font-size:181.333333pt;}
.fs1{font-size:218.666667pt;}
.y0{bottom:0.000000pt;}
.y15{bottom:46.573222pt;}
.ya{bottom:62.223612pt;}
.y14{bottom:89.773214pt;}
.y9{bottom:102.223612pt;}
.y2a{bottom:108.527974pt;}
.y24{bottom:124.006836pt;}
.y13{bottom:134.794189pt;}
.y8{bottom:142.223612pt;}
.y29{bottom:143.727966pt;}
.y1c{bottom:161.567729pt;}
.y23{bottom:164.006836pt;}
.y28{bottom:178.927958pt;}
.y7{bottom:182.223612pt;}
.y12{bottom:186.683695pt;}
.y22{bottom:204.006836pt;}
.y1b{bottom:211.247721pt;}
.y6{bottom:223.741109pt;}
.y11{bottom:234.683695pt;}
.yd{bottom:243.494629pt;}
.y21{bottom:244.006836pt;}
.y27{bottom:249.327942pt;}
.y1a{bottom:260.927734pt;}
.y5{bottom:271.741109pt;}
.y10{bottom:282.683716pt;}
.y20{bottom:282.792847pt;}
.y19{bottom:310.607737pt;}
.yc{bottom:315.494619pt;}
.y1f{bottom:318.517324pt;}
.y26{bottom:319.727946pt;}
.y4{bottom:319.741109pt;}
.yf{bottom:330.683716pt;}
.y18{bottom:360.287738pt;}
.y1e{bottom:363.317327pt;}
.y3{bottom:371.079580pt;}
.ye{bottom:379.594203pt;}
.y25{bottom:390.461222pt;}
.y1{bottom:391.844635pt;}
.y2{bottom:466.044106pt;}
.y17{bottom:471.180842pt;}
.y1d{bottom:477.663361pt;}
.yb{bottom:478.959864pt;}
.y16{bottom:479.180672pt;}
.h6{height:69.890625pt;}
.h5{height:77.656250pt;}
.ha{height:81.539062pt;}
.h4{height:85.421875pt;}
.hc{height:92.583333pt;}
.hb{height:96.791667pt;}
.h1{height:97.070312pt;}
.h7{height:100.953125pt;}
.h8{height:108.718750pt;}
.h9{height:113.625000pt;}
.h3{height:116.484375pt;}
.h2{height:159.195312pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x7{left:49.076131pt;}
.xc{left:51.677165pt;}
.x8{left:73.188965pt;}
.x3{left:82.976400pt;}
.x4{left:86.976400pt;}
.x9{left:121.188965pt;}
.xb{left:148.372721pt;}
.x5{left:186.309733pt;}
.x6{left:198.412089pt;}
.xa{left:225.454061pt;}
.xd{left:382.605642pt;}
.x1{left:392.990082pt;}
.x2{left:407.181076pt;}
}
