@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(36, 36, 36);
    word-wrap: break-word;
}
html{
    scroll-behavior: smooth;
}
/* skills section styling */
.skills{
    color: #f9004d;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}

.html1,.AzureCloud1,.CSS1,.Javascript1,.boots1 h3{
    
   text-align: center;
   text-decoration: underline;
}
.html1 h3{
    color: #f9004d;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: underline;
}
.html1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    text-align: justify;
}
.CSS1 h3{
    color: #f9004d;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: underline;
}
.CSS1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    text-align: justify;
}
.Javascript1 h3{
    color: #f9004d;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: underline;
}
.Javascript1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    text-align: justify;
}
.AzureCloud1 h3{
    color: #f9004d;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: underline;
}
.AzureCloud1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    text-align: justify;
    
}
.boots1 h3{
    color: #f9004d;
    font-size: 20px;
    padding-left: 10px;
}
.boots1 p{
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    text-align: justify;
    
}

